@import "./../../components/reset";
@import "./../../components/buttons";
@import "./../../components/common.scss";
@import "./../../abstracts/variables";
@import "./../../mixins/common";
@import "./../../mixins/responsive";

#banner {
    background-image: url("../../../images/banner.png");
    background-size: cover;
    border: $border;

    .banner_body {
        border: $border;
        width: 804px;
        height: 400px;
        margin: 128px 556px 192px 80px;

        h4 {
            font-size: 18px;
            font-weight: normal;
            line-height: 28px;
            margin-bottom: 24px;

            span {
                font-weight: 600;
            }
        }

        h1 {
            font-size: 53px;
            line-height: 63px;
            margin-bottom: 24px;
        }

        

        p {
            width: 600px;
            font-size: 16px;
            font-weight: 26px;
            margin-bottom: 48px;
        }

    }
}