@import "./../../components/reset";
@import "./../../components/buttons";
@import "./../../components/common.scss";
@import "./../../abstracts/variables";
@import "./../../mixins/common";
@import "./../../mixins/responsive";
@import "./../../components/nav";

#catagory {
    .all_catagory {
        margin-top: 128px;
        padding: 70px;

        @include custom_responsive(0px, 767.9px) {
            margin-top: 40px;
            padding: 20px;
        }

        @include md {
            padding: 40px;
        }

        @include xl {
            padding: 20px;
        }

        @include lg {
            margin-top: 15px;
        }

        h3 {
            text-align: center;
            margin-bottom: 48px;

            @include custom_responsive(0px, 767.9px) {
                margin-bottom: 30px;
            }
        }

        .catagory_items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 32px;

            @include xs {
                display: unset;
                padding: unset;
            }

            @include sm {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @include md {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
            }

            @include xl {
                gap: 20px;
            }


            .items {
                width: 235px;
                padding: 28px;
                border: 1px solid #6D6E76;
                &:hover{
                    background-color: #FFD050;
                }

                @include xs {
                    width: 237px;
                    margin-top: 10px;
                }

                @include sm {
                    width: 195px;
                    margin-top: 5px;
                }

                @include md {
                    margin-top: 10px;
                }

                @include xl {
                    width: 215px;
                }

                .img {
                    background-image: url(../images/icon_background.png);
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;

                    img {
                        padding: 11px 11px;
                    }
                }

                h3 {
                    text-align: left;
                }

                p {
                    width: unset;
                }
            }
        }
    }
}