@import "./../../components/reset";
@import "./../../components/buttons";
@import "./../../components/common.scss";
@import "./../../abstracts/variables";
@import "./../../mixins/common";
@import "./../../mixins/responsive";


#join {
    .container {
        width: 414px;
        margin: auto;
        text-align: center;
        padding: 128px 0px;

        @include xs {
            width: 237px;
        }

        // h2 {}

        p {
            width: unset;
        }

        button {
            @include xs {
                width: 100px;
                height: 30px;
                font-size: 12px;
                line-height: 22px;
            }

            @include sm {
                width: 150px;
                height: 45px;
            }
        }
    }
}