@import "./../../components/reset";
@import "./../../components/buttons";
@import "./../../components/common.scss";
@import "./../../abstracts/variables";
@import "./../../mixins/common";
@import "./../../mixins/responsive";

#special_post {
    .post_layout {
        position: relative;
        padding: 0px 80px;
        margin-top: 100px;

        @include custom_responsive(0px, 767.9px) {
            padding: 0px 10px;
            position: unset;
        }

        @include lg {
            width: 100vw;
        }

        .img {
            img {
                @include custom_responsive(0px, 767.9px) {
                    display: none;
                }

                @include md {
                    width: 50%;
                }

                @include lg {
                    width: 50%;
                }

                @include xl {
                    width: 70%;
                }

            }
        }

        .des {
            position: absolute;
            top: 121px;
            left: 574px;
            // border: $border;
            padding: 80px;
            width: 706px;
            height: 450px;
            background-color: $white;

            @include custom_responsive(0px, 767.9px) {
                position: unset;
                padding: 10px;
            }

            @include sm {
                padding: 0px 20px;
            }

            @include md {
                padding: 0px 20px;
                top: 39px;
                left: 269px;
                width: 600px;
                height: 330px;
            }

            @include lg {
                padding: 0px 20px;
                top: 51px;
                left: 386px;
                width: 600px;
                height: 330px;
            }

            @include xl {
                padding: 18px 41px;
                top: 95px;
                left: 527px;
                width: 683px;
                height: 435px;
            }


            h4 {
                margin-bottom: 24px;

                @include lg {
                    margin-bottom: 10px;
                }
            }

            h2 {
                margin-bottom: 16px;
                width: 546px;

                @include xs {
                    width: 300px;
                }

                @include md {
                    width: 430px;
                    font-size: 24px;
                    line-height: 34px;
                }

                @include lg {
                    width: 488px;
                    margin-bottom: 8px;
                }
            }

            p {
                @include md {
                    font-size: 10px;
                    line-height: 20px;
                }

                @include lg {
                    margin-bottom: unset;
                }
            }

            button {
                width: 269px;
                height: 56px;
                padding: 16px 30px;

                @include xs {
                    width: 200px;
                    height: 40px;
                    padding: 5px 10px;
                }

                @include sm {
                    width: 210px;
                    height: 48px;
                    padding: 5px 10px;
                }

                @include md {
                    width: 175px;
                    height: 39px;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 8px;
                    margin-top: 10px;
                }

                @include lg {
                    width: 210px;
                    height: 48px;
                    padding: 5px 10px;
                }
            }
        }
    }
}