@import "./../../components/buttons";
@import "./../../components/common.scss";
@import "./../../abstracts/variables";
@import "./../../mixins/common";
@import "./../../mixins/responsive";
@import "./../../components/nav";

#testimonials {
    padding: 80px;

    @include xs {
        padding: unset;
    }

    @include xs {
        padding: unset;
    }

    @include md {
        padding: 11px;
    }

    .container {
        display: flex;
        gap: 80px;
        background-color: #FBF6EA;
        padding: 92px;
        position: relative;

        @include xs {
            padding: 30px;
            display: block;
        }

        @include sm {
            padding: 30px;
            display: block;
        }

        @include md {
            padding: 40px;
            gap: 20px;
        }
        @include lg{
            padding-left: 40px;
            gap: unset;
        }
        @include xl{
            gap: unset;
        }

        .left {
            width: 349px;

            @include xs {
                width: 300px;
            }
            @include lg{
                width: unset;
            }

            p {
                width: unset;

                @include md {
                    width: 300px;
                }
            }
        }

        .mid {
            @include custom_responsive(0px, 767.9px) {
                display: none;
            }

            .mid_line {
                position: absolute;
                top: 80px;
                left: 541px;
                width: 2px;
                height: 310px;
                background-color: $black;

                @include md {
                    left: 340px;
                }
                @include lg{
                    left: 310px;
                }
                @include xl{
                    left: 435px;
                }
            }
        }

        .right {
            width: 469px;
            padding-left: 96px;

            @include xs {
                padding-top: 30px;
                padding-left: unset;
            }

            @include sm {
                padding-top: 30px;
                padding-left: unset;
            }

            @include md {
                padding-left: unset;
            }

            p {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #232536;

                @include sm {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    width: 400px;
                }
            }

            .profile {
                display: flex;
                gap: 65px;
                padding-top: 121px;

                @include xs {
                    padding-top: 30px;
                    display: block;
                }

                @include sm {
                    padding-top: 30px;
                    display: block;
                }

                @include md {
                    gap: 10px;
                }
                @include lg{
                    gap: unset;
                }

                .profile_name {
                    width: 257px;
                    display: flex;

                    .img_name {
                        padding: 10px;

                        h3 {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                        }

                    }
                }

                .arrow {
                    flex: 1;
                    cursor: pointer;
                    display: flex;
                    @include xs {
                        padding-top: 45px;
                        padding-left: 150px;
                    }

                    @include sm {
                        padding-top: 45px;
                        padding-left: 250px;
                    }

                    i {
                        border-radius: 50%;
                        background-color: whitesmoke;
                        padding: 20px;

                        &:hover {
                            background-color: $light_gray;
                        }

                        @include xs {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}